.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.ball {
  position: absolute;
  top   : 90px;
  left  : 90px;
  width : 10px;
  height: 10px;
  background: rgba(128,128,128,0.5);
  border-radius: 100%;
  margin: 75px 25px 25px 25px;
}

input {
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.5);
    width: 300px;
    height: 50px;
    color: #333333;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
        font-size: 24px;
    font-weight: 600;
}

button {
    border-radius: 10px;
    background-color: #ffffff;
    color: #333333;
    border: none;
    padding: 5px 15px;
    margin: 10px;
    font-size: 16px;
}

#loginMobile {
    width: 100%;
    font-size: 18pt;
    padding-top: 10vh;
}

#loginCode {
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.5);
    width: 300px;
    height: 50px;
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    color: #333333;
}

#loginCode p {
  margin: 12px;
}

#login {
  padding-top: 20vh;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mobile-container {
  display: flex;
  flex-direction: column; 
}

.pen-button {
  width: "90%";
  height: "90%";
  margin: auto;
}